<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <h2>Edit your chat: <%= chat._id %></h2>

    <p>
        This message was sent by <b><%= chat.from %></b> to <b><%= chat.to %></b>
    </p>

    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea cols="35" rows="10" name="message">
            <%= chat.message %>
        </textarea>

        <br />
        <br />

        <button>
            Edit
        </button>
    </form>

</body>

</html>